<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home/css/question.css">
    <link rel="stylesheet" href="/static/home/css/vocabulary.css">
    <link rel="stylesheet" href="/static/home/css/exam.css">
</head>
<body class="page-result">
<div class="page-container">
    <div class="page__header">
        <a class="header__left" href="/home">
            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier">
                    <path d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
                          fill="#FFFFFF"/>
                </g>
            </svg>
            <div class="header__title">Toeic Max - Học từ vựng</div>
        </a>
    </div>
    <div class="page__content">
        <div class="page__topic">
            <div class="page-topic__block">
                <div class="page-topic__label">
                    <span class="label__name">ETS Free</span>
                    <div class="label__icon">
                        <img src="/static/home/img/icons/arrow-down.png">
                    </div>
                </div>
                <ul class="page-topic__list">
                    <li class="page-topic__item">
                        <b class="item-topic__name">ETS 01 2024</b>
                        <div class="item-topic__content">
                            <span>Câu hỏi:<b>200</b></span>
                            <span>Thời gian:<b>120 phút</b></span>
                        </div>
                        <div class="item-topic__action">
                            <span class="btn btn--action">Full test</span>
                            <span class="btn btn--test">Mini test</span>
                        </div>
                    </li>
                    <li class="page-topic__item">
                        <b class="item-topic__name">ETS 01 2023</b>
                        <div class="item-topic__content">
                            <span>Câu hỏi:<b>200</b></span>
                            <span>Thời gian:<b>120 phút</b></span>
                        </div>
                        <div class="item-topic__action">
                            <span class="btn btn--action">Full test</span>
                            <span class="btn btn--test">Mini test</span>
                        </div>
                    </li>
                    <li class="page-topic__item">
                        <b class="item-topic__name">ETS 01 2022</b>
                        <div class="item-topic__content">
                            <span>Câu hỏi:<b>200</b></span>
                            <span>Thời gian:<b>120 phút</b></span>
                        </div>
                        <div class="item-topic__action">
                            <span class="btn btn--action">Full test</span>
                            <span class="btn btn--test">Mini test</span>
                        </div>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </div>
</div>
</body>
<script>
    document.querySelector(".page-topic__item").addEventListener("click",(e)=>{
        window.location='/exam';
    })
</script>
</html>