<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Part 4. Bài nói chuyện ngắn</title>
    <link rel="stylesheet" href="/static/home/css/question.css">
</head>
<body class="page-question">
<div class="page-container">
    <div class="page__header">
        <a class="header__left" href="/home">
            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier">
                    <path d="M16.1795 3.26875C15.7889 2.87823 15.1558 2.87823 14.7652 3.26875L8.12078 9.91322C6.94952 11.0845 6.94916 12.9833 8.11996 14.155L14.6903 20.7304C15.0808 21.121 15.714 21.121 16.1045 20.7304C16.495 20.3399 16.495 19.7067 16.1045 19.3162L9.53246 12.7442C9.14194 12.3536 9.14194 11.7205 9.53246 11.33L16.1795 4.68297C16.57 4.29244 16.57 3.65928 16.1795 3.26875Z"
                          fill="#FFFFFF"/>
                </g>
            </svg>
            <div class="header__title">Part 4. Bài nói chuyện ngắn</div>
        </a>
    </div>
    <div class="page__content">
        <div class="page-content__top">
            <div class="top__icon">
                <img src="/static/imgicons/part4.png" alt="">
            </div>
            <div class="top__content" id="history-result">
                <p>Số câu đã làm: <span>0</span></p>
                <p>Score: <span>0</span></p>
            </div>
        </div>
        <div class="page-content__mid">
            <h4>Câu hỏi:</h4>
            <b>You will hear some talks given by a single speaker. You will be asked to answer three questions about
                what the speaker says in each talk. Select the best response to each question and mark the letter (A),
                (B), (C), or (D) on your answer sheet. The talks will not be printed in your test book and will be
                spoken only one time.</b>
            <p>Hướng dẫn: Bạn sẽ nghe một số bài nói được trình bày bởi một diễn giả. Bạn sẽ được yêu cầu trả lời ba câu
                hỏi về những gì diễn giả nói trong mỗi bài nói. Chọn câu trả lời đúng nhất cho mỗi câu hỏi và đánh dấu
                chữ cái (A), (B), (C) hoặc (D) trên phiếu trả lời của bạn. Các bài nói sẽ không được in trong tập kiểm
                tra của bạn và sẽ chỉ được nói một lần.</p>
        </div>
        <div class="page-content__bottom">
            <div class="bottom__label">Chọn số lượng câu hỏi.</div>
            <label class="bottom__select">
                <select id="select-qty-question">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </label>
            <div class="btn btn--action" id="btn-start-exam">Bắt đầu ▸</div>
        </div>
    </div>
</div>
<script src="/static/home/js/main.js"></script>
<script>
    setPart('part4', 0)
</script>
</body>
</html>