<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
      <title>roadmap</title>
      <meta property="og:site_name" content="vi.toeicmax.com">
      <meta property="og:type" content="website">
      <meta property="article:publisher" content="https://www.facebook.com/ToeicMax.LuyenThiToeic">
      <meta property="og:url" itemprop="url" content="https://vi.toeicmax.com">
      <meta property="og:image" itemprop="thumbnailUrl" content="/desktop_860.png">
      <meta property="og:image:width" content="860">
      <meta property="og:image:height" content="482">
      <meta content="Toeic Max - Ứng dụng luyện thi Toeic Online" itemprop="headline" property="og:title">
      <meta content="Chào mừng bạn đến với Toeic Max, ứng dụng luyện thi TOEIC online hàng đầu được thiết kế để giúp bạn đạt điểm tối đa trong kỳ thi TOEIC. Toeic Max không chỉ là một cẩm nang học thuật, mà còn là trợ thủ đắc lực cho bạn trong việc nắm vững các kỹ năng nghe hiểu và đọc hiểu" itemprop="description" property="og:description">
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-298962091-1&amp;l=dataLayer&amp;cx=c&amp;gtm=45je4bc0v9175325578za200"></script><script>//window.currentLang = 'ja';</script><script defer="defer" src="/js/chunk-vendors.9650cc21.js"></script><script defer="defer" src="/js/app.081e61c1.js"></script>
      <link rel="icon" type="image/svg+xml" href="/img/icons/favicon.svg">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="theme-color" content="#2bc58b">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="TOEIC® Max">
      <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon-152x152.png">
      <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#2bc58b">
      <meta name="msapplication-TileImage" content="/img/icons/msapplication-icon-144x144.png">
      <meta name="msapplication-TileColor" content="#FFF">
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ZJ85J51GD3&amp;l=dataLayer"></script>
      <link rel="stylesheet" type="text/css" href="/static/home/css/roadmap.css">
   </head>
   <body>
      <div style="background-image: url('/icon/pull.jpg'); background-repeat: no-repeat; background-position: center;POSITION: FIXED;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.2;z-index: -1;"></div>
      <div id="app" data-v-app="">
         <div class="h100 wrap">
            <div id="head"><a href="/" class="flex jus-center align-center h100 width-100"><b class="fs-18 cl-w">TOEIC® Max</b></a></div>
            <div id="body">
               <div data-v-4b80e3c0="" id="roadmap" class="h100">
                  <div data-v-4b80e3c0="" class="back flex flex-wrap gap-15"><span data-v-4b80e3c0="" class="go-back">‹</span><b data-v-4b80e3c0="" class="fs-18">Lộ trình học tập</b></div>
                  <div data-v-4b80e3c0="" class="h100 over-y-auto" id="auto_scroll">
                     <div data-v-4b80e3c0="" class="page-roadmap">
                        <div data-v-4b80e3c0="" class="roadmap-info">
                           <h3 data-v-4b80e3c0="" class="title swt">Lộ trình học Toeic của bạn</h3>
                           <div data-v-4b80e3c0="" class="flex statistic">
                              <div data-v-4b80e3c0="" class="ss-item">
                                 <img data-v-4b80e3c0="" src="/static/home/img/icons/completion.png">
                                 <p data-v-4b80e3c0="" class="ss-value swt"><b data-v-4b80e3c0="">11%</b></p>
                                 <p data-v-4b80e3c0="" class="ss-text">Completion</p>
                              </div>
                              <div data-v-4b80e3c0="" class="ss-item">
                                 <img data-v-4b80e3c0="" src="/static/home/img/icons/line_chart.png">
                                 <p data-v-4b80e3c0="" class="ss-value swt"><b data-v-4b80e3c0="">63%</b></p>
                                 <p data-v-4b80e3c0="" class="ss-text">Average score</p>
                              </div>
                             
                           </div>
                           <p data-v-4b80e3c0="" class="ta-r pt-10"><span data-v-4b80e3c0="" class="reset-roadmap fs-12 cl-red cursor-p">Tạo lại lộ trình</span></p>
                        </div>
                        <div data-v-4b80e3c0="" class="list-day">
                           <div data-v-4b80e3c0="" class="item open" id="">
                              <p data-v-4b80e3c0="" class="day swt">Day 1</p>
                              <div data-v-4b80e3c0="" class="flex info swb_2">
                                 <div data-v-4b80e3c0="" class="width-85">
                                    <ul data-v-4b80e3c0="" class="lesson" onclick="start(51)">
                                       <li data-v-4b80e3c0="" class="ws-nowarp swt"><img data-v-4b80e3c0="" src="/static/home/img/icons/tick.png"> Giới thiệu</li>
                                       <li data-v-4b80e3c0="" class="ws-nowarp swt"><img data-v-4b80e3c0="" src="/static/home/img/icons/tick.png"> Tìm hiểu về đề thi Toeic và một số lưu ý</li>
                                    </ul>
                                 </div>
                                 <div data-v-4b80e3c0="" class="width-15 right"><img data-v-4b80e3c0="" class="icon" src="/static/home/img/icons/done_1.png"></div>
                              </div>
                           </div>
                           <div data-v-4b80e3c0="" class="item open" id="">
                              <p data-v-4b80e3c0="" class="day swt">Day 2</p>
                              <div data-v-4b80e3c0="" class="flex info swb_2">
                                 <div data-v-4b80e3c0="" class="width-85">
                                    <ul data-v-4b80e3c0="" class="lesson" onclick="start(52)">
                                       <li data-v-4b80e3c0="" class="ws-nowarp swt"><img data-v-4b80e3c0="" src="/static/home/img/icons/tick.png"> Từ loại Danh từ: Định nghĩa, Chức năng, Vị trí</li>
                                       <li data-v-4b80e3c0="" class="ws-nowarp swt"><img data-v-4b80e3c0="" src="/static/home/img/icons/tick.png"> Danh từ đếm được &amp; không đếm được</li>
                                       <li data-v-4b80e3c0="" class="ws-nowarp swt"><img data-v-4b80e3c0="" src="/static/home/img/icons/tick.png"> Dấu hiệu nhận biết và Cách tạo danh từ</li>
                                    </ul>
                                 </div>
                                 <div data-v-4b80e3c0="" class="width-15 right"><img data-v-4b80e3c0="" class="icon" src="/static/home/img/icons/done_1.png"></div>
                              </div>
                           </div>
                          
                        </div>
                     </div>
                  </div>
                  <!----><!----><!---->
               </div>
            </div>
            <div id="footer"></div>
         </div>
      </div>
   </body>
   <ddict-div style="visibility: visible !important;"></ddict-div>
   <script>
      function start(index){
         window.location="/roadmap/"+index;
      }
   </script>
</html>