<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home/css/question.css">
</head>
<body class="page-question-detail">
<div class="page-container">
    <div class="page-exam-success-content">
        <div class="page__content">
            <div class="page__exam-success">
                <div class="exam-success__top">
                    <img src="/static/home/img/icons/success.png" alt="">
                    <b>Chúc mừng</b>
                    <span>Bạn đã hoàn thành bài thi của mình</span>
                </div>
            </div>
        </div>
        <div class="page__footer page__footer--success">
            <div class="footer__action">
                <a class="btn btn--continue" id="btn-continue" href="/home">Tiếp tục</a>
                <a class="btn btn--action" href="javascript:location.reload()" id="btn-replay">Làm lại</a>
            </div>
        </div>
    </div>
</div>
<style>
    .page-exam-success-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
</style>
</body>
</html>