* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}


body {
    background-color: #f9f9f9;
}
.page__header {
    display: flex;
    align-items: center;
    background-color: #2bc48a;
    line-height: 50px;
    color: #fff;
    justify-content: space-between;
}

.page__header svg {
    height: 25px;
    padding: 0 15px;
}

.header__left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header__right {
    display: flex;
    align-items: center;
}
#container{

}
#list-day{
    margin: 15px;
    border-left: 2px dashed #ccc;
    padding-left: 15px;
}
#list-day .item{
    margin-bottom: 20px;
    position: relative;
}
#list-day .item:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 10px;
    border-radius: 0 8px 8px 0;
    left: -17px;
    top: 4px;
}
#list-day .item.open:before {
    background-color: #2bc48a;
}
#list-day .item.locked:before{
    background-color: #999;
}
.locked{
    color: #999;
}
.day-header{
    margin-bottom: 5px;
}
.open .lesson-inforday{
    border: 2px solid #2bc48a;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    
}
.lesson{
    list-style: none;
    width: 100%;
}
.lesson li{
    line-height: 24px;

}
.lesson li img{
    width: 10px;
    margin-right: 8px;
}

.d-flex{
    display: flex;

}
.fs-16{
    font-size: 16px;
}
.locked .lesson-inforday {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    border-radius: 5px;

    padding: 10px 15px;
}