.page__vocabulary {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page__vocabulary .vocabulary__list-exam {
    list-style: none;
    padding: 10px;
    margin: unset;
    width: 100%;
    max-width: 715px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.page__vocabulary .vocabulary__item-exam {
    width: calc(100%/2 - 7px);
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
}
.page__vocabulary .item-exam__learn {
    margin: unset;
    padding: 5px;
    background-color: #f6f6f6;
    color: #999;
}
.page__vocabulary .vocabulary__item-exam:hover{
    border: 1px solid #2bc48a;
    cursor: pointer;
}
.page__vocabulary .item-exam__name{
    margin: unset;
    padding: 15px 0;
}
.page__vocabulary .vocabulary__item-exam:hover .item-exam__name{
    background-color: #2bc58b;
    color: white;
}
.page__vocabulary .item-exam__section{
    text-decoration: none;
    color: black;
}
.page__vocabulary-detail .vocabulary-detail__list-word{
    list-style: none;
    padding: unset;
    margin: unset;
}
.page__vocabulary-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.page__vocabulary-detail .vocabulary-detail__list-word {
    list-style: none;
    padding: 10px;
    margin: unset;
    width: 100%;
    max-width: 715px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .15);
}

.page__vocabulary-detail .item__percent {
    width: 40px;
}

.page__vocabulary-detail .circular-chart.green {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 250px;
}

.page__vocabulary-detail .item__single-chart {
    width: 100%;
}

.page__vocabulary-detail .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: .75em;
    text-anchor: middle;
}

.page__vocabulary-detail .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    stroke: #4cc790;
}

.page__vocabulary-detail .circle-bg {
    fill: none;
    stroke-width: 3.8;
    stroke: #d0f4e7;
}

.page__vocabulary-detail .list-word__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
}

.page__vocabulary-detail .item__word-info p {
    margin: unset;
}
.vocabulary-detail__action{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}
.page__work-listen,
.page__work-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.work-listen__game-show,
.work-detail__game-show{
    list-style: none;
    padding: 10px;
    margin: unset;
    width: 100%;
    max-width: 715px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .15);
    justify-content: center;
}
.work-detail__img{
    display: flex;
    justify-content: center;
}
.work-listen___action,
.work-detail__action{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}
.work-listen__label,
.work-detail__label{
    margin: unset;
}
.work-detail__name{
    margin: 10px 0;
}
.work-listen__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.work-listen__list {
    display: flex;
    justify-content: space-evenly;
}

.item__icon {
    width: 35px;
    height: 35px;
    background-color: #2bc48a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 100%;
}

.item__icon img {
    width: 100%;
    height: 100%;
}

.work-listen__item p {
    margin: unset;
}

.work-listen__img {
    display: flex;
    justify-content: center;
}

.work-listen__game-show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-listen__example p {
    margin: unset;
}
.header {
    background-color: #26A69A;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 1.2em;
}

.title {
    margin-top: 20px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    color: #555;
}

.grid {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 1em;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    min-height: 40px;
    margin-bottom: 10px;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.definition {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.pronunciation {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.pronunciation div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pronunciation .audio-icon {
    background-color: #2ecc71;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.input-box {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.input-box:focus {
    border-color: #26A69A;
}
.title {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.definition {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.word {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.audio-button {
    background-color: #2bc48a;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
.audioDiv{
    
    display: flex;
    justify-content: center;
}
.audio-button img {
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    height: 60px;
    align-items: end;
}

.button {
    height: 40px;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #d9d4d4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover{
    border-bottom: 1px solid #d9d4d4;
}
.button.correct {
    background-color: #2bc48a;
    color: #ffffff;
}

.button.incorrect {

    background-color: #e74c3c;
    color: #ffffff;
}
