
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, Google Sans, sans-serif;
    font-size: 14px;
}
#header{
}
#banner{
    height: 100px;
    display: flex;
    align-items: center;
}
#banner .banner__logo{
    margin-left: 40px;
}
.banner__logo img{
    width: 80px;
    height: 80px;
}
#navbar{
    background-color: #2bc48a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;

}
#navbar .divleft{
    width: 100px;
}
#navbar .navbar__menu{
    display: flex;
    align-items: center;
    
}
.navbar__menu .menu-item{
    cursor: pointer;
    min-width: 100px;
    padding:0 10px 0 10px;
    line-height: 50px;

}
.menu-item a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar__menu .menu-item.active a{
    color: #fff41d;;
}
.navbar__menu .menu-item:hover a{
    color: #fff41d;
}
.menu-item .dropdown{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: #fff;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: 0 0 3px #88bfe5;
    padding-top: 10px;
    justify-content: space-around;
}
.navbar__menu .menu-item:hover>.dropdown{
    display: flex;
}
.dropdown a{
    text-decoration: none;
    color: #000000;
}
#navbar .navbar__user{
    display: flex;
    align-items: center;
    width: 100px;
}
.navbar__user .avatar{
}
.avatar img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
#container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #2bc48a;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #38b2ac;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f7fafc;
}

.filter-section {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters label {
    font-weight: bold;
}

.filters input, .filters select, .filter-btn {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-btn {
    background-color: #2bc48a;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: #2bc48a;
}

.table-section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #e2e8f0;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f7fafc;
}
