*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{

}
#banner{
    height: 100px;
    display: flex;
    align-items: center;
}
#banner .banner__logo{
    margin-left: 40px;
}
.banner__logo img{
    width: 80px;
    height: 80px;
}
#navbar{
    background-color: #2bc48a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;

}
#navbar .divleft{
    width: 100px;
}
#navbar .navbar__menu{
    display: flex;
    align-items: center;
    
}
.navbar__menu .menu-item{
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
    padding:0 10px 0 10px;
    line-height: 50px;
    font-family: Nunito Sans, Google Sans, sans-serif;

}
.menu-item a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar__menu .menu-item.active a{
    color: #fff41d;;
}
.navbar__menu .menu-item:hover a{
    color: #fff41d;
}
.menu-item .dropdown{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: #fff;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: 0 0 3px #88bfe5;
    padding-top: 10px;
    justify-content: space-around;
}
.navbar__menu .menu-item:hover>.dropdown{
    display: flex;
}
.dropdown a{
    text-decoration: none;
    color: #000000;
}
#navbar .navbar__user{
    display: flex;
    align-items: center;
    width: 100px;
}
.navbar__user .avatar{
}
.avatar img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.question-add-action {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
.part-item{
    cursor: pointer;
}
.part-item.active{
    color: #2bc48a;
}
.content-right.active{
    display: block !important;
}
.question-add-action button {
    padding: 3px 10px;
    background: white;
    border: 1px solid;
    border-radius: 5px;
}
.question-add-action button.active {
    background: #2bc48a;
    color: white;
    border-radius: 5px;
}
.question-content svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.question-media-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.question-att {
    display: flex;
    align-items: center;
    gap: 10px;
}

.question-att svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

div#content-exam-detail {
    width: 90vw;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.content-right {
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.question-add {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
    z-index: 9;
}

.question-add .question-add-content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

label.question-answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

label.question-att {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.question {
    position: relative;
}