
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, Google Sans, sans-serif;
    font-size: 14px;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#banner{
    height: 100px;
    display: flex;
    align-items: center;
}
#banner .banner__logo{
    margin-left: 40px;
}
.banner__logo img{
    width: 80px;
    height: 80px;
}
#navbar{
    background-color: #2bc48a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;

}
#navbar .divleft{
    width: 100px;
}
#navbar .navbar__menu{
    display: flex;
    align-items: center;
    padding-left: 10%;
    
}
.navbar__menu .menu-item{
    cursor: pointer;
    min-width: 100px;
    padding:0 10px 0 10px;
    line-height: 50px;

}
.menu-item a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    
}
.navbar__menu .menu-item.active a{
    color: #fff41d;;
}
.navbar__menu .menu-item:hover a{
    color: #fff41d;
}
.menu-item .dropdown{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: #fff;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: 0 0 3px #88bfe5;
    padding-top: 10px;
    justify-content: space-around;
}
.navbar__menu .menu-item:hover>.dropdown{
    display: flex;
}
.dropdown a{
    text-decoration: none;
    color: #000000;
}
#navbar .navbar__user{
    display: flex;
    align-items: center;
    width: 100px;
}
.navbar__user .avatar{
}
.avatar img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
#container {
    display: flex;
    margin: 50px 0 0 0;
    padding: 20px 0 0  0;
    height: calc(100vh - 50px);
    background-color: #f5f5f5;
}


.sidebar {
    width: 20%;
    background-color: #2bc48a;
    color: #fff;
    padding: 20px 0 0 30px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.sidebar ul li a.active {
    color: #fff41d;
}
.sidebar ul li a:hover {
    color: #fff41d;
}

#container .container__content{
    width: 100%;
    padding: 0 20px;
}
.main-content {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}
.helpCenter3{
    width: 100px;
}
.main-content .containner__title{
    margin: 20px auto ;
    display: flex;
    width: 90%;
    justify-content: space-between!important;
}
.containner__title h2{
    color: #2bc48a;
    font-size: 18px;
}
.helpCenter3{
    display: flex;
    justify-content: end;
}
.actionLearningPath {
    width: 90%;
    margin: 20px auto;
    position: relative;
}
.actionLearningPath input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.actionLearningPath input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.container__body{
    height: 90%;
}
.container__body .lesson__content{
    width: 90%;
    margin: 0 auto;
}
/* Navigation Bar */
.lesson__content .lesson__navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #e7f8f2;
    border-bottom: 1px solid #c9e9dc;
    border-radius: 12px;

}

.lesson__navbar button {
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #2bc48a;
    font-weight: 500;
    transition: all 0.3s ease;
    border-radius: 12px;

}

.lesson__navbar button:hover {
    background-color: #c9e9dc;
}

.lesson__navbar button.active {
    background-color: #2bc48a;
    color: white;

}
.container__body .lesson__body{
    height: 90%;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto 0 auto  ;
    overflow-y: hidden;
}
.study-plan {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 90%;
}

.day-box {
    background-color: #fff;
    border-left: 5px solid #00c853;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    height: 100%;
}

.day-box h2 {
    color: #333;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.day-box>ul {
    list-style-type: none;
    padding: 0;
}

.day-box>ul>li {
    margin: 8px 0;
    padding-left: 25px;
    position: relative;
    color: #555;
}

.day-box ul li::before {
    content: '✔';
    color: #00c853;
    position: absolute;
    left: 0;
    font-size: 16px;
}


/* add question part 1 */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.no-active {
    display: none;
}

.active {
    display: block;
}

.btn {
    border: 0px;
}

.btn-save {
    background-color: #2bc48a !important;
    border-bottom: 3px solid #119f69 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-clear {
    background-color: #e61026;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/* end of common CSS */

.part1__title {
    font-size: 24px;
}

.day-box__header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.day-box__header p {
    color: #333;
    margin-top: 0;
    font-weight: bold;
}

.day-box__content {
    margin-top: 20px;
    height: 100%;
}

.btn-collapse {
    background-color: #2bc48a;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.day-box__content--container{
    height: 100%;
}
.day-box__content--container .question-answer {
    flex: 30%;
}

.day-box__content--container .resource {
    flex: 70%;
    height: 90%;
}
.resource__item{
    height: 100%;
    width: 100%;
}
.resource__item--upload-img {
    width: 100%;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    background-color: aliceblue;
    border-style: dashed;
}

.resource__item--upload-audio {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    background-color: aliceblue;
    border-style: dashed;
}

.resource__item--upload-doc {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    background-color: aliceblue;
    border-style: dashed;
}

/* AddingQ&A */
.question-answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-answer .question,
.answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question{
    margin-bottom: 10px;
}
.question-answer .question input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.answer-group {
    align-items: center;
}

.answer-group label {
    font-weight: 600;
}

.answer-group input[type="text"] {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.answer-group input[type="text"]:focus {
    border-color: #2bc48a;
    box-shadow: 0 0 5px rgba(43, 196, 138, 0.5);
}

.question-answer__container{
    width: 80%;
}
.preview-container{
    height: 100%;
    padding: 0 10px;
    overflow-y: scroll;
}
.preview-container .docx-preview{
    height: 100%;
   
}
.docx{
    max-height: 100%;
    overflow-y: scroll !important;
}
.sidebar {
    width:10%;
}
#container .container__content {
    width: 100%;
}
.main-content-qsl{
    flex:70%;
}
#search{
    flex: 30%;
    display: flex;
    flex-direction: column;
}
#search .searchHeader{
    justify-content: end;
    flex:10%;
}
#search .searchBody{
    flex:90%;
}
.condition{
    margin-bottom: 10px;
    justify-content: space-between;
}
.condition__search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}
.condition__search button {
    padding: 5px 10px;
    border: none;
    background-color: #2bc48a;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.itemSearch{
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.day-box{
    cursor: pointer;
}
#lstSearchItem{
    height: 90%;
    overflow-y: scroll;
}
#lstSearchItem::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Edge, Safari */
}
.overflow-scroll-y{
    overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
    width: 0px;  /* Ẩn thanh cuộn dọc */
    background: transparent;  /* Ẩn phần nền của thanh cuộn */
}
.nondisplay{
    display: none!important;
}
.condition__search input[type="text"] {
margin-right: 0;
}
