* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, Google Sans, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border-color: #28a745;
}
.red{
    color: red;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #2bc48a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #119f69;
}

.links {
    margin-top: 15px;
    text-align: center;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

.home-link {
    display: block;
    margin-top: 20px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}
