*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, Google Sans, sans-serif;
    font-size: 14px;
}
#header{

}
#banner{
    height: 100px;
    display: flex;
    align-items: center;
}
#banner .banner__logo{
    margin-left: 40px;
}
.banner__logo img{
    width: 80px;
    height: 80px;
}
#navbar{
    background-color: #2bc48a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;

}
#navbar .divleft{
    width: 100px;
}
#navbar .navbar__menu{
    display: flex;
    align-items: center;
    
}
.navbar__menu .menu-item{
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
    padding:0 10px 0 10px;
    line-height: 50px;
    font-family: Nunito Sans, Google Sans, sans-serif;

}
.menu-item a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar__menu .menu-item.active a{
    color: #fff41d;;
}
.navbar__menu .menu-item:hover a{
    color: #fff41d;
}
.menu-item .dropdown{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: #fff;
    border-bottom: solid 1px #e3e3e3;
    box-shadow: 0 0 3px #88bfe5;
    padding-top: 10px;
    justify-content: space-around;
}
.navbar__menu .menu-item:hover>.dropdown{
    display: flex;
}
.dropdown a{
    text-decoration: none;
    color: #000000;
}
#navbar .navbar__user{
    display: flex;
    align-items: center;
    width: 100px;
}
.navbar__user .avatar{
}
.avatar img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
#container{
}
#container_body,#container_header{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90vw;
    margin: auto;
    background-color: #fff;
    display: flex;
    margin-bottom: 20px;
}
#container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container_header .selectedMenu{
    
}
#container_header .AddIcon{

}
.AddIcon button{
    border-radius: 50%;
    border: none;
    background: none;
}
.AddIcon  svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#container_body .list-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}
.list-section li {
    width: calc(50% - 19px);
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: #000000;
}
.list-section li .section .word-learn {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.list-section li .section .name {
    height: 60px;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
    font-size: 14px;
}