.mid-content__answer{
    background: #fff;
    width: 100%;
    padding: 10px;
}
.mid-content__answer{
    margin-bottom: 5px;
}
.answer__label {
    font-size: 14px;
    font-weight: bold;
    font-family: Nunito Sans, Google Sans, sans-serif;
    line-height: 22px;
}