<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="/static/admin/css/exam-detail.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"
        integrity="sha512-1JkMy1LR9bTo3psH+H4SV5bO2dFylgOy+UJhMus1zF4VEFuZVu5lsi4I6iIndE4N9p01z1554ZDcvMSjMaqCBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="header">
        <div id="navbar">
            <div class="divleft"></div>
            <div class="navbar__menu">
                <div class="menu-item active">
                    <a href="/admin/dashboard">Thống kê</a>
                </div>
                <div class="menu-item">
                    <a href="/admin/exams">Quản lý đề thi</a>
                </div>
                <div class="menu-item ">
                    <a href="/admin/vocabulary">Quản lý từ vựng</a>
                </div>

                <div class="menu-item">
                    <a href="/admin/roadmap">Quản lý lộ trình</a>
                </div>
            </div>
            <div class="navbar__user">
                <div class="avatar">
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="sidebar">
            <h2>Danh mục</h2>
            <ul>
                <li><a href="#">Doanh thu</a></li>
                <li><a href="#">Lịch sử giao dịch</a></li>
            </ul>
        </div>

        <div class="container__content">
            <div class="main-content">
                <div class="containner__title">
                    <h2 class="part1__title">Part 3</h2>
                    <div class="question-quantity">
                        <p>Question:
                            <span>6/53</span>
                        </p>
                    </div>
                </div>
                <div class="study-plan">

                    <div class="day-box">
                        <div class="day-box__header d-flex justify-content-between align-items-center">
                            <p>Question 1</p>
                            <div class="group-btn">
                                <button class="btn btn-clear">Clear</button>
                                <button class="btn btn-save">Save</button>
                                <button class="btn btn-collapse">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="day-box__content active">
                            <div class="day-box__content--container d-flex" style="gap: 10px;">
                                <div class="question-answer d-flex justify-content-between align-self-center">
                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput1" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>A</label>
                                                <input type="text" name="answer1-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>B</label>
                                                <input type="text" name="answer1-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>C</label>
                                                <input type="text" name="answer1-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>D</label>
                                                <input type="text" name="answer1-D">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput2" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>A</label>
                                                <input type="text" name="answer2-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>B</label>
                                                <input type="text" name="answer2-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>C</label>
                                                <input type="text" name="answer2-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>D</label>
                                                <input type="text" name="answer2-D">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput3" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>A</label>
                                                <input type="text" name="answer3-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>B</label>
                                                <input type="text" name="answer3-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>C</label>
                                                <input type="text" name="answer3-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>D</label>
                                                <input type="text" name="answer3-D">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="resource d-flex" style="gap: 10px;flex-direction: column;">
                                    <div class="resource__item">
                                        <div class="resource__item--upload-img">
                                            Upload Image
                                        </div>
                                        <input type="file" name="upload-img" accept="image/*" class="no-active">
                                    </div>
                                    <div class="resource__item">
                                        <div class="resource__item--upload-audio">
                                            Upload Audio
                                        </div>
                                        <input type="file" name="upload-audio" accept="audio/*" class="no-active">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="day-box">
                        <div class="day-box__header d-flex justify-content-between align-items-center">
                            <p>Question 1</p>
                            <div class="group-btn">
                                <button class="btn btn-clear">Clear</button>
                                <button class="btn btn-save">Save</button>
                                <button class="btn btn-collapse">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="day-box__content active">
                            <div class="day-box__content--container d-flex" style="gap: 10px;">
                                <div class="question-answer d-flex justify-content-between align-self-center">
                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput1" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>A</label>
                                                <input type="text" name="answer1-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>B</label>
                                                <input type="text" name="answer1-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>C</label>
                                                <input type="text" name="answer1-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer1">
                                                <label>D</label>
                                                <input type="text" name="answer1-D">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput2" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>A</label>
                                                <input type="text" name="answer2-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>B</label>
                                                <input type="text" name="answer2-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>C</label>
                                                <input type="text" name="answer2-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer2">
                                                <label>D</label>
                                                <input type="text" name="answer2-D">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer__container">
                                        <div class="question">
                                            <input type="text" name="questionInput3" placeholder="Question">
                                        </div>
                                        <div class="answer">
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>A</label>
                                                <input type="text" name="answer3-A">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>B</label>
                                                <input type="text" name="answer3-B">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>C</label>
                                                <input type="text" name="answer3-C">
                                            </div>
                                            <div class="answer-group">
                                                <input type="radio" name="correctAnswer3">
                                                <label>D</label>
                                                <input type="text" name="answer3-D">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="resource d-flex" style="gap: 10px;flex-direction: column;">
                                    <div class="resource__item">
                                        <div class="resource__item--upload-img">
                                            Upload Image
                                        </div>
                                        <input type="file" name="upload-img" accept="image/*" class="no-active">
                                    </div>
                                    <div class="resource__item">
                                        <div class="resource__item--upload-audio">
                                            Upload Audio
                                        </div>
                                        <input type="file" name="upload-audio" accept="audio/*" class="no-active">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .day-box__content--container .question-answer {
            flex: 50%;
        }

        .day-box__content--container .resource {
            flex: 50%;
            max-width: 50%;
        }
    </style>
    <script>
        var totalQuestion = 39;

        const questionQuantity = document.querySelector('.question-quantity span');
        const questionContainers = document.querySelectorAll('.question-answer__container[id]');
        questionQuantity.textContent = questionContainers.length + '/' + totalQuestion;

        // Add auto increment question id .no-question
        const autoIncrementQuestionId = () => {
            let noQuestion = 32;

            document.querySelectorAll('.question-answer__container').forEach((container, index) => {
                const question = container.querySelector('.question');
                // remove the existing .no-question element
                const existingNoQuestion = question.querySelector('span');
                if (existingNoQuestion) {
                    existingNoQuestion.remove();
                }
                const numero = document.createElement('span');
                if (numero) {
                    numero.textContent = `${noQuestion + 1}`;
                }
                noQuestion++;
                question.insertBefore(numero, question.firstChild);
            });
        }
        autoIncrementQuestionId();
    </script>
    <script src="/static/admin/js/upload-resource.js"></script>
    <script src="/static/admin/js/clear-btn.js"></script>
</body>

</html>