<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đề thi</title>
    <link rel="stylesheet" href="/static/admin/css/exam-detail.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"
        integrity="sha512-1JkMy1LR9bTo3psH+H4SV5bO2dFylgOy+UJhMus1zF4VEFuZVu5lsi4I6iIndE4N9p01z1554ZDcvMSjMaqCBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/home/js/lib/UtilJsonAjax.js"></script>
    <script src="/static/admin/js/middleware/auth.js"></script>
    <link rel="stylesheet" href="/static/admin/css/exams/part4.css">

</head>

<body>
    <div id="main">

    </div>

    <style>
        .day-box__content--container .question-answer {
            flex: 50%;
        }

        .day-box__content--container .resource {
            flex: 50%;
            max-width: 50%;
        }
    </style>
  
    <script src="/static/admin/js/examdetail/part4.js"></script>
    <script src="/static/admin/js/clear-btn.js"></script>
</body>

</html>