<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="/static/admin/css/exam-detail.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"
        integrity="sha512-1JkMy1LR9bTo3psH+H4SV5bO2dFylgOy+UJhMus1zF4VEFuZVu5lsi4I6iIndE4N9p01z1554ZDcvMSjMaqCBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="header">
        <div id="navbar">
            <div class="divleft"></div>
            <div class="navbar__menu">
                <div class="menu-item active">
                    <a href="/admin/dashboard">Thống kê</a>
                </div>
                <div class="menu-item">
                    <a href="/admin/exams">Quản lý đề thi</a>
                </div>
                <div class="menu-item ">
                    <a href="/admin/vocabulary">Quản lý từ vựng</a>
                </div>

                <div class="menu-item">
                    <a href="/admin/roadmap">Quản lý lộ trình</a>
                </div>
            </div>
            <div class="navbar__user">
                <div class="avatar">
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="sidebar">
            <h2>Danh mục</h2>
            <ul>
                <li><a href="/admin/exams/1/part1">part1</a></li>
                <li><a href="/admin/exams/1/part2">part2</a></li>
                <li><a href="/admin/exams/1/part3">part3</a></li>
                <li><a href="/admin/exams/1/part4">part4</a></li>
                <li><a href="/admin/exams/1/part5" class="active">part5</a></li>
                <li><a href="/admin/exams/1/part6">part6</a></li>
                <li><a href="/admin/exams/1/part7">part7</a></li>
            </ul>
        </div>

        <div class="container__content">
            <div class="main-content">
                <div class="containner__title">
                    <h2 class="part1__title">Part 5</h2>
                    <div class="question-quantity">
                        <p>Question:
                            <span>6/53</span>
                        </p>
                    </div>
                </div>
                <div class="study-plan">

                    <div class="day-box">
                        <div class="day-box__header d-flex justify-content-between align-items-center">
                            <p>Question 1</p>
                            <div class="group-btn">
                                <button class="btn btn-clear">Clear</button>
                                <button class="btn btn-save">Save</button>
                                <button class="btn btn-collapse">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="day-box__content active">
                            <div class="day-box__content--container d-flex" style="gap: 10px;">
                                <div class="question-answer d-flex justify-content-between align-self-center">
                                    <div class="question">
                                        <input type="text" id="questionInput1" placeholder="Question 1">
                                    </div>
                                    <div class="answer">
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer1" id="correctAnswer1-1">
                                            <label for="answerInput1-1">A</label>
                                            <input type="text" id="answerInput1-1">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer1" id="correctAnswer1-2">
                                            <label for="answerInput1-2">B</label>
                                            <input type="text" id="answerInput1-2">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer1" id="correctAnswer1-3">
                                            <label for="answerInput1-3">C</label>
                                            <input type="text" id="answerInput1-3">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer1" id="correctAnswer1-4">
                                            <label for="answerInput1-4">D</label>
                                            <input type="text" id="answerInput1-4">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="day-box">
                        <div class="day-box__header d-flex justify-content-between align-items-center">
                            <p>Question 2</p>
                            <div class="group-btn">
                                <button class="btn btn-clear">Clear</button>
                                <button class="btn btn-save">Save</button>
                                <button class="btn btn-collapse">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="day-box__content active">
                            <div class="day-box__content--container d-flex" style="gap: 10px;">
                                <div class="question-answer">
                                    <div class="question">
                                        <input type="text" id="questionInput2" placeholder="Question 2">
                                    </div>
                                    <div class="answer">
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer2" id="correctAnswer2-1">
                                            <label for="answerInput2-1">A</label>
                                            <input type="text" id="answerInput2-1">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer2" id="correctAnswer2-2">
                                            <label for="answerInput2-2">B</label>
                                            <input type="text" id="answerInput2-2">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer2" id="correctAnswer2-3">
                                            <label for="answerInput2-3">C</label>
                                            <input type="text" id="answerInput2-3">
                                        </div>
                                        <div class="answer-group">
                                            <input type="radio" name="correctAnswer2" id="correctAnswer2-4">
                                            <label for="answerInput2-4">D</label>
                                            <input type="text" id="answerInput2-4">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <style>
        .day-box__content--container .question-answer {
            flex: 50%;
        }

        .day-box__content--container .resource {
            flex: 50%;
            max-width: 50%;
        }
    </style>
    <script src="/static/admin/js/upload-resource.js"></script>
    <script src="/static/admin/js/clear-btn.js"></script>
    <script>
        const questionQuantity = document.querySelector('.question-quantity span');
        const questionContainers = document.querySelectorAll('.question-answer__container[id]');
        questionQuantity.textContent = questionContainers.length + '/30';
    </script>
</body>

</html>