<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home/css/studyBySection/question.css">
    <link rel="stylesheet" href="/static/home/css/studyBySection/part6.css">
    <script src="/static/home/js/lib/UtilJsonAjax.js"></script>
    <script src="/static/home/js/middleware/auth.js"></script>
</head>
<body>
    <div id="main" >
    </div>
</body>
<script src="/static/home/js/studyBySection/part6.js"></script>
</html>
