<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="/static/admin/css/lesson-detail.css">
    <link rel="stylesheet" href="/static/admin/css/exam-detail.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"
    integrity="sha512-1JkMy1LR9bTo3psH+H4SV5bO2dFylgOy+UJhMus1zF4VEFuZVu5lsi4I6iIndE4N9p01z1554ZDcvMSjMaqCBQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/admin/css/tdoc.css">
    <!-- Docx Preview -->
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
    <script src="/static/admin/js/docx-preview.js"></script>
    <script src="/static/home/js/lib/UtilJsonAjax.js"></script>
    <script src="/static/admin/js/middleware/auth.js"></script>
</head>
<body>
    <div id="main">

    </div>
</body>
<script src="/static/admin/js/lesson-detail.js"></script>
<script src="/static/admin/js/upload-resource.js"></script>
<script src="/static/admin/js/clear-btn.js"></script>
</html>