<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/admin/css/exam.css">
</head>

<body>
    <div id="header">
        <div id="navbar">
            <div class="divleft"></div>
            <div class="navbar__menu">
                <div class="menu-item">
                    <a href="/admin/dashboard">Thống kê</a>
                </div>
                <div class="menu-item active">
                    <a href="/admin/exams">Quản lý đề thi</a>
                </div>
                <div class="menu-item ">
                    <a href="/admin/vocabulary">Quản lý từ vựng</a>
                </div>
                
                <div class="menu-item">
                    <a href="/admin/roadmap">Quản lý lộ trình</a>
                </div>
            </div>
            <div class="navbar__user">
                <div class="avatar">
                    <!-- <img src="http://surl.li/uitszn" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="container_header">
            <div class="selectedMenu">
                Trang chủ > Quản lý từ vựng
            </div>
            <div class="AddIcon">
                <img src="/static/img/ok.img" alt="">
            </div>
        </div>
        <div id="container_body">
            <ul class="list-section" id="list-item">
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</body>
<script src="/static/admin/js/exam.js">
</script>
</html>