<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="/static/admin/css/lesson-detail.css">
</head>
<body>
    <div id="header">
        <div id="navbar">
            <div class="divleft"></div>
            <div class="navbar__menu">
                <div class="menu-item active">
                    <a href="/admin/dashboard">Thống kê</a>
                </div>
                <div class="menu-item">
                    <a href="/admin/exams">Quản lý đề thi</a>
                </div>
                <div class="menu-item ">
                    <a href="/admin/vocabulary">Quản lý từ vựng</a>
                </div>
                
                <div class="menu-item">
                    <a href="/admin/learningpath">Quản lý lộ trình</a>
                </div>
            </div>
            <div class="navbar__user">
                <div class="avatar">
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="sidebar">
            <h2>Danh mục</h2>
            <ul>
                <li><a href="#" class="active">Quản lý lộ trình</a></li>
                <li><a href="#">Quản lý bài học</a></li>
            </ul>
        </div>

        <div class="container__content">
            <div class="main-content">
                <div class="containner__title">
                    <h2> Quản lý lộ trình</h2>
                </div>
                <div class="container__body">
                    <div class="lesson__content">
                        <div class="lesson__navbar">
                            <button class="active">Lý thuyết</button>
                            <button>Bài Tập</button>
                        </div>
                    </div>
                    <div class="lesson__body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
