<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/admin/css/vocabulary.css">
</head>

<body>
    <div id="header">
        <div id="navbar">
            <div class="divleft"></div>
            <div class="navbar__menu">
                <div class="menu-item">Thống kê</div>
                <div class="menu-item">Quản lý đề thi
                    <div class="dropdown">
                        <a href="#">Quản lý chủ đề từ </a>
                        <a href="#">Quản lý Đề</a>
                    </div>
                </div>
                <div class="menu-item">
                    Quản lý từ vựng
                    <div class="dropdown">
                        <a href="#">Quản lý chủ đề từ </a>
                        <a href="#">Quản lý Đề</a>
                    </div>
                </div>
                <div class="menu-item">Quản lý bài nghe
                </div>
                <div class="menu-item">Quản lý ngữ pháp
                    <div class="dropdown">
                        <a href="#">Quản lý lý thuyết ngữ pháp</a>
                        <a href="#">Quản lý Bài tập ngữ pháp</a>
                    </div>
                </div>
            </div>
            <div class="navbar__user">
                <div class="avatar">
                    <img src="http://surl.li/uitszn" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="container_header">
            <div class="selectedMenu">
                Trang chủ > Quản lý từ vựng
            </div>
            <div class="AddIcon">
                <img src="/static/img/ok.img" alt="">
            </div>
        </div>
        <div id="container_body">
            <ul class="list-section" id="list-item">
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/voca/word/921" class="section">
                        <div class="word-learn">
                            <p class="name">Bài 1: Contract</p>
                            
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</body>
<script src="/static/admin/js/vocabulary.js">
</script>
</html>