<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/admin/css/vocabulary-add.css" />
  </head>
  <body>
    <div id="dialog">
      
    </div>
    <div id="header">
      <div id="navbar">
        <div class="divleft"></div>
        <div class="navbar__menu">
          <div class="menu-item">
            <a href="/admin/dashboard">Thống kê</a>
          </div>
          <div class="menu-item">
            <a href="/admin/exams">Quản lý đề thi</a>
          </div>
          <div class="menu-item active">
            <a href="/admin/vocabulary">Quản lý từ vựng</a>
          </div>

          <div class="menu-item">
            <a href="/admin/roadmap">Quản lý lộ trình</a>
          </div>
        </div>
        <div class="navbar__user">
          <div class="avatar">
            <!-- <img src="http://surl.li/uitszn" alt /> -->
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <div id="container_body">
        <div class="container_header">
          <div class="selectedMenu">Quản lý chủ đề từ vựng &gt; từ vựng</div>
          
        </div>
        <div class="list-section" id="list-item">
            <div class="item">
                <div class="item__body">
                    <div class="item__content">
                        <div class="item__text">
                            <div class="form-group">
                                <label for="meaning">Tên chủ đề từ vựng:</label>
                                <input type="text" class="meaning" placeholder="Nhập tên..." required="" id="topicName"> 
                            </div>
                        </div>
                    </div>
                    <div class="item__buttonSave">
                        <button class="saveWord" onclick="saveTopic()">save</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/static/admin/js/vocabulary-add.js"></script>
</html>